<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PNP-SIG</title>

        {# lien CSS #}
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/tabulator-4.9/dist/css/tabulator.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/select-pure-0.6.3/dist/select-pure.css') }}">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='lib/resizable/resizable-style.css') }}">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layerbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map-block.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_button.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-with-menu.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-add-layer.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/openlayers-v6.7.0-dist/ol.css') }}">
        {# FIN lien CSS #}
    </head>
    <body>
        <!-- Alerte -->
        <div id="alert-container" class="alert alert-danger {#alert-dismissible#} fade text-center" role="alert">
            <span id="alert-message"></span>
            {#<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>#}
        </div>

        <div id="container">
            {% include 'include/_header.html' %}

            <div id="app-content" class="app-content">
                {% include 'include/_responsive_button.html' %}
                {% include 'include/_toolbar.html' %}<!--Contournement white-space entre deux inline-block
                -->{% include 'include/_layerbar.html' %}<!--Contournement white-space entre deux inline-block
                -->{% include 'include/_map.html' %}
            </div>            
        </div>

        {# include des fenêtres modales #}
        {% include 'modal/login_form.html' %}
        {% include 'modal/add_layer.html' %}
        {% include 'modal/pdf_generator.html' %}
        {% include 'modal/rename_layer.html' %}
        {% include 'modal/challenge_calculator_info_modal.html' %}


        {# Variable à passer au javascript #}
        {% include 'conf.html' %}

        {# lien JS #}
        <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/tabulator-4.9/dist/js/tabulator.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/svg-inject/svg-inject.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/jspdf-2.3.1/jspdf.umd.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/jspdf-2.3.1/modules/split_text_to_size.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/html2canvas-1.3.2/html2canvas.min.js') }}"></script>
        
        <!--<script type="module" src="{{ url_for('static', filename='lib/node_modules/select-pure/dist/index.js') }}"></script>-->
        <script src="{{ url_for('static', filename='lib/select-pure-0.6.3/dist/bundle.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='lib/resizable/resizable.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/responsive.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/add_layer.js') }}"></script>
        <!--<script type="module" src="{{ url_for('static', filename='js/add_layer.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/layerbar.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='lib/openlayers-v6.7.0-dist/ol.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/warning-calculator.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map2pdf.js') }}"></script>
        {# FIN lien JS #}
    </body>
</html>
