/*html{
    height: 100%;
}*/

/*body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}*/
/*:root{
    --bs-primary: #01965e;
}*/

html * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2vh;
}

#container {
    padding: 0;
    margin: 0;
}

.app-content {
    width: 100%;
    height: 94vh;
    display: flex;
}

.bg-primary {
    background-color: #01965e !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary:focus,
.btn-check:checked+.btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: mintcream;
    background-color: #01965e;
    border-color: #01965e;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary:not(.btn-open):hover,
.open>.dropdown-toggle.btn-primary,
.btn-outline-primary:hover {
    color: mintcream;
    background-color: #006e44;
    border-color: #006e44;
}

.btn-secondary,
.btn-secondary:focus,
.btn-check:checked+.btn-outline-secondary,
.btn-outline-secondary:focus {
    color: #6c757d !important;
    background-color: mintcream !important;
    border-color: mintcream !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-light,
.btn-light:focus,
.btn-check:checked+.btn-outline-light,
.btn-outline-light:focus {
    color: #3982c2 !important;
    background-color: mintcream !important;
    border-color: mintcream !important;
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary,
.btn-outline-secondary:hover {
    color: #e6e6e6 !important;
    background-color: #9facb8 !important;
    border-color: #9facb8 !important;
}

.btn-light:hover,
.open>.dropdown-toggle.btn-light,
.btn-outline-light:hover {
    color: #3982c2 !important;
    background-color: rgb(211, 232, 255) !important;
    border-color: rgb(211, 232, 255) !important;
}

/*@media(min-width: 1500px){
    .responsive-btn-close{
        display: none;
    }
}

@media(max-width: 1500px){
    .form-control-lg{
        font-size: 3vh;
    }

    .modal-footer >.btn,
    .modal-footer > .submit{
        font-size: 3vh;
    }
}
*/
.responsive-btn-close {
    display: none;
}

.modal-title {
    font-weight: bold;
}

.modal-xxl {
    --bs-modal-width: 90%;
}

.align-right {
    text-align: right !important;
}

#alert-container,
#warning-container,
#information-container {
    position: absolute;
    z-index: 9999;
    top: 4rem;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Style associé au dropdown
 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-item {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-item.disabled {
    cursor: default !important;
    color: #adb5bd;
    background-color: transparent;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.clickable {
    cursor: pointer;
}

.border-end {
    border-color: #666 !important;
}

input[type="date"] {
    border: 1px solid #ced4da;
    min-height: 48px;
    border-radius: 4px;
    color: #8e8e8e
}

input[type="date"]>span.datetime-edit-field {
    color: #f00;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ced4da;
    outline: none !important;
    box-shadow: none !important;
}


::placeholder {
    color: #8e8e8e !important;
    font-size: 1.25rem !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.accordion-button:focus {
    outline: none;
    box-shadow: none;
}


#bloc-coords {
    position: absolute;
    z-index: 94;
    background-color: rgba(0, 60, 136, .5);
    border: 2px solid rgba(255, 255, 255, .7);
    color: rgb(255, 255, 255);
    padding: 0 10px;
    right: .5rem;
    top: 9rem;
    border-radius: 4px;
    display: flex;
}

#select-coordinate-projection {
    border-right: 50px;
    width: 0px;
    background-color: rgba(0, 60, 136, 0);
    border: 0px solid rgba(255, 255, 255, .7);
    height: 30px;
}

#select-coordinate-projection:focus {
    border: none;
    box-shadow: none;
}

#feature-form-error {
    min-width: 100%;
}

.error-table {
    min-width: 100% !important;
}

.error-table>tr {
    border: #f5c2c7 2px solid;
}

.error-table>tr>td {
    color: #842029;
    background-color: #f8d7da;
    border: #f5c2c7 2px solid;
}

#global-spinner {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#global-spinner>#spinner-container {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

#global-spinner>#spinner-container>.spinner-border {
    height: 100px;
    width: 100px;
}

#export-loading-spinner {
    display: none;
}

.form-feature-edit-input-select {
    max-width: 400px;
    min-width: 200px;
}