/*html{
    height: 100%;
}*/

/*body{
    min-height: 100%;
    margin: 0;
    padding: 0;
}*/
/*:root{
    --bs-primary: #01965e;
}*/

html * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    overflow: hidden;
    font-size: 2vh;
}

#container {
    min-height: 100vh;
    max-height: 100vw;
    padding: 0;
    margin: 0;
}

.app-content {
    width: 100%;
    height: 94vh;
}

.bg-primary{
    background-color: #01965e !important;
}

.btn-primary, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary:focus, 
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary:focus {
    color: mintcream!important;
    background-color: #01965e!important;
    border-color: #01965e!important;
    outline: none!important;
    box-shadow: none!important;
}

/*.btn-primary:focus, 
.btn-outline-primary:focus {
    outline: none!important;
    box-shadow: none!important;
}*/

.btn-primary:hover, 
.open>.dropdown-toggle.btn-primary,
.btn-outline-primary:hover
 {
    color: mintcream!important;
    background-color: #006e44!important;
    border-color: #006e44!important; /*set the color you want here*/
}

.btn-secondary, 
.btn-secondary:active, 
.btn-secondary.active, 
.btn-secondary:focus, 
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary:focus {
    color: #6c757d!important;
    background-color: mintcream!important;
    border-color: mintcream!important;
    outline: none!important;
    box-shadow: none!important;
}

.btn-secondary:hover, 
.open>.dropdown-toggle.btn-secondary,
.btn-outline-secondary:hover
 {
    color: #e6e6e6!important;
    background-color: #9facb8!important;
    border-color: #9facb8!important; /*set the color you want here*/
}

/*.slide-anim {
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    from {  margin-left: 0;}
    to { margin-left: 100vw;}
}*/

@media(min-width: 1500px){
    .responsive-btn-close{
        display: none;
    }
}

@media(max-width: 1500px){
    .form-control-lg{
        font-size: 3vh;
    }

    .modal-footer >.btn,
    .modal-footer > .submit{
        font-size: 3vh;
    }
}

.modal-title {
    font-weight: bold;
}

.align-right {
    text-align: right !important;
}

#alert-container {
    position: absolute;
    z-index: 9999;
    top: 6rem;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: none;*/
    /*transition: opacity 500ms;*/
}

/*.modal-div-content{
    border: 1px solid black;
    padding: .350em;
}*/

/**
 * Style associé au dropdown
 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-item {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #e6e6e6;
}

.dropdown-item:hover {background-color: #ddd;}

.show {display: block !important;}
.hide {display: none !important;}
