.logo {
    height: 6vh;
}

header{
    height: 6vh;
    min-height: 30px;
}

#header-row{
    margin-right: 0px!important;
}

.app_name{
    color: mintcream;
    font-size: 3vh;
    font-weight: bold;
}

#username-label{
    color: mintcream;
    font-style: italic;
}

#btn-login,
#btn-logout{
    height: 100%;
    padding: 0 .375rem;
    display: none;
}

#btn-login.active,
#btn-logout.active{
    display: block !important;
}

.btn-login-label{
    display: block;
}

#icon-logout,
#icon-login{
    font-size: 3vh;
    display: none;
}

/*@media(max-width: 1500px){
    #icon-logout,
    #icon-login{
        display: block !important;
    }
    
    .btn-login-label,
    .btn-logout-label{
        display: none !important;
    }
}*/