#layerbar{
    background-color: rgb(0, 102, 17);
    min-height: 100%;
    vertical-align: middle;
    border-right: 2px solid;
    /*box-sizing: border-box;*/
    overflow-x: scroll;
    overflow-y: auto;
}

@media(min-width: 1500px) {
    #layerbar{
        width: 12%;
        position: relative;
        display: inline-block !important;
    }
}

@media(max-width: 1500px) {
    #layerbar{
        display: none;
        position: absolute;
        width: 100%;
    }
}

@media(max-width: 1500px) and (min-width: 500px) {
    #layerbar{
        display: none;
        position: absolute;
        width: 50%;
    }
}