#map-browser{
    width: 85%;
    /*background-color: rgb(108, 79, 238);*/
    height: 100%;
    vertical-align: top;
}

#map-block{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 70%;
    vertical-align: top;
}

#data-block{
    /*width: 100%;*/
    /*background-color: #e6e6e6;*/
    height: 30%;
    border-top: 1px solid #000000;
    background-color: #888;
    /*overflow-x: auto;*/
    /*overflow-y: scroll;*/
    /*overflow: visible;*/
}

#nav-attribute-table{
    position: absolute;
    bottom: 28%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
}

#nav-attribute-table > .nav-layer-item {
    border: 1px solid #000000;
    border-bottom: none;
    background-color: #e6e6e6;
    color:#666;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .3em;
    display: inline-block;
    cursor: pointer;
}

#nav-attribute-table > .nav-layer-item{
    margin-left: -1px;
}

#nav-attribute-table > .nav-layer-item.active {
    font-weight: bold;

    background-color: #fefefe;
    /*background-color: #e6e6e6;*/
    /*color:#666;*/
    cursor: default;
}

.tabulator-headers{
    overflow: visible;
}

.tabulator-col-content{
    padding: 2px!important;
}

.tabulator-cell{
    font-size: 1.5vh;
    padding: 2px!important;
}

.tabulator-col-title{
    font-size: 1.5vh;
}

.tabulator-header-filter {
    margin-top: 0!important;
}

.tabulator-header-filter > input{
    height: 2.5vh;
    font-size: 1.5vh;
}


@media(max-width: 1500px){
    #map-browser{
        width: 100%;
    }
}

#map{
    height: 100%;
}

.ol-zoom{
    left: unset!important;
    right: .5em;
}

#basemap-selector{
    position: absolute;
    right: 3em;
    top: 3.6em;
    z-index: 999;
}

#basemap-selector > .dropdown > .btn {
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #FFF!important;
    background-color: rgba(0,60,136,.5)!important;
    border: 2px solid rgba(255,255,255,.5);
}

#basemap-selector > .dropdown > .btn:hover {
    background-color: rgba(0,60,136,.7)!important;
    border: 2px solid rgba(255,255,255,.7);
}

#basemap-selector > .dropdown > .dropdown-content {
    background-color: rgba(0,60,136,.7)!important;
    right: 3em;
    margin-top: -2px;
    border-radius: .25rem;
}

#basemap-selector > .dropdown > .dropdown-content > .dropdown-item {
    color: #FFF!important;
    border: 2px solid #FFF!important;
    /*font-weight: bold;*/
}

#basemap-selector > .dropdown > .dropdown-content > .dropdown-item:not(:first-child) {
    margin-top: -2px;
}

#basemap-selector > .dropdown > .dropdown-content > .dropdown-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#basemap-selector > .dropdown > .dropdown-content > .dropdown-item:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#basemap-selector > .dropdown > .dropdown-content > .dropdown-item:hover {
    background-color: rgba(0, 39, 90, 0.7)!important;
}

.tabulator-col,
.tabulator-header {
    overflow: visible;
}

#bloc-clicked-features-attributes{
    position: absolute;
    z-index: 999;
    right: 1%;
    max-height: 45%;
    width: 20%;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    color:#666;
    border-radius: .25rem;
    top: 20%;
}

/*#bloc-clicked-features-attributes*/
#bloc-clicked-features-attributes-content{
    /*position: absolute;
    z-index: 999;
    right: 1%;
    max-height: 45%;
    width: 20%;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    color:#666;
    border-radius: .25rem;
    top: 20%;*/
    max-height: 350px;
    padding: .5%;
    overflow: auto;
}


#close-bloc-clicked-features-attributes{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*#bloc-clicked-features-attributes-content{
    margin-top : 9%;
}*/

.layer-list > .layer-item > span{
    font-weight: bold;
}

.layer-list > .layer-item > .feature-list > .feature-item > span {
    font-style: italic;
}

.layer-list > .layer-item > .feature-list > .feature-item > .properties-list {
    border-left: 1px solid #666
}

.layer-list > .layer-item > .feature-list > .feature-item > .properties-list > .propertie-item {
    white-space: nowrap;
}

.layer-list > .layer-item > .feature-list > .feature-item > .properties-list > .propertie-item > .propertie-name,
.layer-list > .layer-item > .feature-list > .feature-item > .properties-list > .propertie-item > .propertie-value{
    display: inline-block;
    white-space: nowrap;
}

/*.layer-list > .layer-item > .feature-list > .feature-item > .properties-list > .propertier-item > .propertie-value{
    float: right;
}*/

.layer-list > .layer-item > .feature-list > .feature-item > .zoom-to-feature{
    margin-left: 10px;
    font-size: 14px;
}

.zoom-to-feature{
    cursor: pointer;
}

.edit-layer-btn-group{
    /*width: 58px;*/
    position: absolute;
    left: 300px;
    top: 70px;
    z-index: 999;
    /*background-color: moccasin;*/
    background-color: rgba(0,60,136,.7);
    border: 2px solid rgba(255,255,255,.7);
    padding: 10px;
    display: inline-block;
}

.edit-layer-btn-group > .btn:not(:last-child){
    margin-right: 10px;
}   
