#map-browser {
    /*width: 85%;*/
    width: 85%;
    /*background-color: rgb(108, 79, 238);*/
    height: 100%;
    vertical-align: top;
}

#map-block {
    width: 100%;
    background-color: rgb(255, 255, 255);
    /*height: 70%;*/
    height: 100%;
    vertical-align: top;
}

#attribute-data-container {
    position: absolute;
    z-index: 99;
    height: 30%;
    width: 85%;
    bottom: 0px;
    right: 0px;
}

/*#bloc-coords {
    position: absolute;
    z-index: 99;
    background-color: rgba(0,60,136,.5);
    border: 2px solid rgba(255,255,255,.7);
    color: rgb(255, 255, 255);
    padding: 0 10px;
    right: .5rem;
    top: 9rem;
    border-radius: 4px;
}*/

#data-block {
    /*width: 100%;*/
    /*background-color: #e6e6e6;*/
    /*height: 30%;*/
    height: 85%;
    border-top: 1px solid #000000;
    background-color: #888;
    /*overflow-x: auto;*/
    /*overflow-y: scroll;*/
    /*overflow: visible;*/
}

#nav-attribute-table {
    /*position: absolute;*/
    bottom: 28%;
    background-color: rgba(255, 255, 255, 0);
    height: 15%
}

#nav-attribute-table>.nav-layer-item {
    border: 1px solid #000000;
    border-bottom: none;
    background-color: #e6e6e6;
    color: #666;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .3em;
    display: inline-block;
    cursor: pointer;
    height: 100%;
}

#nav-attribute-table>.nav-layer-item {
    margin-left: -1px;
}

#nav-attribute-table>.nav-layer-item.active {
    font-weight: bold;
    height: 100%;
    background-color: #fefefe;
    /*background-color: #e6e6e6;*/
    /*color:#666;*/
    cursor: default;
}

#nav-attribute-table>.nav-layer-item>.btn-close-attribute-table {
    width: 0.2em !important;
    height: 0.2em !important;
    vertical-align: text-top;
    margin-left: 10px;
}

/*.tabulator{
    width: 100%;
    overflow-x: initial;
    overflow-y: auto;
}*/

/*.tabulator-header{
    overflow: initial!important;
}*/

/*.tabulator-headers{
    overflow: visible;
}*/

.tabulator-col-content {
    padding: 2px !important;
}

.tabulator-cell {
    font-size: 1.5vh;
    padding: 2px !important;
}

.tabulator-col-title {
    font-size: 1.5vh;
}

.tabulator-header-filter {
    margin-top: 0 !important;
}

.tabulator-header-filter>input {
    height: 2.5vh;
    font-size: 1.5vh;
}

.tabulator-row .tabulator-cell a {
    font-size: 1.5vh;
}

.tabulator-row .tabulator-cell .obs-layer-more-data-link {
    font-size: 1.5vh;
}

.obs-layer-more-data-link {
    color: #0074cc;
    cursor: pointer;
    text-decoration: underline;
}

.obs-layer-more-data-link:hover {
    color: #0a95ff;
    text-decoration: underline;
}

/*@media(max-width: 1500px){
    #map-browser{
        width: 100%;
    }
}*/

#map {
    height: 100%;
}

.ol-zoom {
    left: unset !important;
    right: .5em;
}

#basemap-selector {
    position: absolute;
    right: 3em;
    top: 3.6em;
    z-index: 999;
}

#basemap-selector>.dropdown>.btn {
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: #FFF !important;
    background-color: rgba(0, 60, 136, .5) !important;
    border: 2px solid rgba(255, 255, 255, .5);
}

#basemap-selector>.dropdown>.btn:hover {
    background-color: rgba(0, 60, 136, .7) !important;
    border: 2px solid rgba(255, 255, 255, .7);
}

#basemap-selector>.dropdown>.dropdown-content {
    background-color: rgba(0, 60, 136, .7) !important;
    right: 3em;
    margin-top: -2px;
    border-radius: .25rem;
}

#basemap-selector>.dropdown>.dropdown-content>.dropdown-item {
    color: #FFF !important;
    border: 2px solid #FFF !important;
    /*font-weight: bold;*/
}

#basemap-selector>.dropdown>.dropdown-content>.dropdown-item:not(:first-child) {
    margin-top: -2px;
}

#basemap-selector>.dropdown>.dropdown-content>.dropdown-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

#basemap-selector>.dropdown>.dropdown-content>.dropdown-item:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#basemap-selector>.dropdown>.dropdown-content>.dropdown-item:hover {
    background-color: rgba(0, 39, 90, 0.7) !important;
}

.tabulator-col,
.tabulator-header {
    overflow: visible;
}

#bloc-clicked-features-attributes {
    position: absolute;
    z-index: 99;
    right: 1%;
    /*max-height: 45%;*/
    width: 20%;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    color: #666;
    border-radius: .25rem;
    top: 12rem;
}

/*#bloc-clicked-features-attributes*/
#bloc-clicked-features-attributes-content {
    /*position: absolute;
    z-index: 999;
    right: 1%;
    max-height: 45%;
    width: 20%;
    border: 1px solid #000000;
    background-color: #e6e6e6;
    color:#666;
    border-radius: .25rem;
    top: 20%;*/
    max-height: 350px;
    padding: .5%;
    overflow: auto;
}


#close-bloc-clicked-features-attributes {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*#bloc-clicked-features-attributes-content{
    margin-top : 9%;
}*/

.layer-list>.layer-item>span {
    font-weight: bold;
    max-height: initial;
}

.layer-list>.layer-item>.feature-list>.feature-item {
    max-height: initial;
}

.layer-list>.layer-item>.feature-list>.feature-item>span {
    font-style: italic;
}

.layer-list>.layer-item>.feature-list>.feature-item>.properties-list {
    border-left: 1px solid #666;
    max-height: initial;
}

.layer-list>.layer-item>.feature-list>.feature-item>.properties-list>.propertie-item {
    white-space: nowrap;
}

.layer-list>.layer-item>.feature-list>.feature-item>.properties-list>.propertie-item>.propertie-name,
.layer-list>.layer-item>.feature-list>.feature-item>.properties-list>.propertie-item>.propertie-value {
    display: inline-block;
    white-space: nowrap;
}

/*.layer-list > .layer-item > .feature-list > .feature-item > .properties-list > .propertier-item > .propertie-value{
    float: right;
}*/

.layer-list>.layer-item>.feature-list>.feature-item>.zoom-to-feature {
    margin-left: 10px;
    font-size: 14px;
}

.zoom-to-feature {
    cursor: pointer;
}

.tools-btn-group {
    position: absolute;
    left: 16%;
    top: 8vh;
    z-index: 99;
}

.edit-layer-btn-group {
    /*position: absolute;
    left: 16%;
    top: 8vh;
    z-index: 99;*/
    background-color: rgba(0, 60, 136, .7);
    border: 2px solid rgba(255, 255, 255, .7);
    padding: 10px;
    display: inline-block;
}

.edit-layer-btn-group>.btn:not(:last-child) {
    margin-right: 10px;
}

#search-toponyme {
    position: absolute;
    right: 140px;
    top: 3.8em;
    z-index: 999;
}

#search-toponyme>.input-group {
    width: 20em;
}

#toponyme-autocomplete-loading {
    min-width: 48px;
}

#toponyme-autocomplete-spinner {
    display: none;
    vertical-align: bottom;
}

#toponyme-autocomplete {
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    /*display: block;*/
    max-height: 220px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
    /*width: 20em;*/
    z-index: 999;
    margin-top: -1px;
    /*right: 7em;
    top: 6.4em;*/
}

#toponyme-autocomplete>.toponyme-autocomplete-option {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    min-height: 44px;
    line-height: 25px;
    padding: 10px;
    cursor: pointer;
}

#toponyme-autocomplete>.toponyme-autocomplete-option:hover {
    background: #e6e6e6;
}

/*ul#selected-toponyme{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

ul#selected-toponyme > li {
    border: 1px solid #000;
    margin-top: -1px;

}

ul#selected-toponyme > li > i {
    cursor: pointer;
}*/

#obs-more-info-modal>.modal-dialog>.modal-content {
    min-height: 90vh;
}

.ol-tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
    cursor: default;
    user-select: none;
}

.ol-tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.ol-tooltip-measure:before,
.ol-tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.ol-tooltip-static:before {
    border-top-color: #ffcc33;
}