.responsive-bt-block{
    position: absolute;
    top: 7vh;
    left: 1vh;
    display: none;
}

.responsive-bt{
    width: 8vh;
    height: 8vh;
}

.responsive-bt-icon{
    font-size: 4vh;
}

.responsive-bt-close{
    position: absolute;
    right: 1vh;
    top: 1vh;
}

@media(max-width: 1500px){
    .responsive-bt-block{
        display: block;
    }
}