#toolbar {
    background-color: moccasin;
    height: 100%;
    vertical-align: top;

    width: 3%;
    position: relative;
    display: inline-block !important;
}

#toolbar>.btn-group-vertical {
    margin-top: 10px;
}

/*@media(min-width: 1500px) {
    #toolbar{
        width: 3%;
        position: relative;
        display: inline-block !important;
    }
}

@media(max-width: 500px) {
    #toolbar{
        display: none;
        position: absolute;
        width: 100%;
    }
}

@media(max-width: 1500px) and (min-width: 500px) {
    #toolbar{
        display: none;
        position: absolute;
        width: 50%;
    }
}*/

.btn-active {
    background-color: #ffca2c !important;
    border-color: #ffca2c !important;
}

.btn-active:hover {
    background-color: #c79f28 !important;
    border-color: #c79f28 !important;
}